.part1 {
  width: 80%;
  margin: 30px auto;
  text-align: center;
  padding: 10px;
  border: 1px solid;
  text-align: center;
}
.part1__item {
  margin: 10px auto;
}

.part1__item label {
  display: block;
  margin-bottom: 20px;
  font-size: 18px;
}

.part2 {
  width: 80%;
  margin: 30px auto;
  text-align: center;
  padding: 10px;
  border: 1px solid;
}

.master {
  width: 20%;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  border: 1px solid;
}